@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#video-container:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

#video-container:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

#video-container:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

#video-container:hover::-webkit-scrollbar-thumb:hover {
  background: #555;
}

